<h1>Articles Listing Page</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
<!--This allows the actions column to span over the three actions-->
    <th colspan="3">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.description %></td>
      <!--How to add a link: What you want it to say, and then it's path-->
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
<!--Exposing get request for the article which takes you to show page-->
<!--Adding the delete method at end you will change it to a delete request -->
<!--Added JS confirm at end-->
      <td><%= link_to 'Delete', article_path(article), method: :delete, data: { Confirm: "Are you sure?" } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Create An Article',  new_article_path %>
<br>
<%= link_to 'Go to About Page', about_path %>